@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,600&display=swap');


@mixin btn {
    margin: 32px 0 0 0;
    padding: 0;

    a {
        color: #ffffff;
        font-weight: normal;
        line-height: 45px;
        perspective: 1000px;

        span {
            position: relative;
            display: inline-block;
            font-size: 18px;
            font-weight: normal;
            letter-spacing: 0.5px;
            padding: 2px 27px;
            background: #4dc47d;
            border-radius: 1px;
            transition: transform .3s;
            transform-origin: 50% 0%;
            transform-style: preserve-3d;

            &::before {
                content: attr(data-hover);
                position: absolute;
                top: 100%;
                left: 0;
                height: 100%;
                width: 100%;
                color: #ffffff;
                background: #000000;
                border-radius: 1px;
                padding: 2px 27px;
                transition: background 0.3s;
                transform: rotateX(-90deg);
                transform-origin: 50% 0%;

            }

        }

        &:hover span,
        &:focus span {
            transform: rotateX(90deg) translateY(-22px);
        }

    }
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #ffffff;
    font-family: 'Source Sans Pro', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 300;
}

h1 {
    font-size: 40px;
    font-weight: 200;
    line-height: 50px;
}

h2 {
    font-size: 30px;
    line-height: 40px;
    margin-top: 0;
}

h3 {
    font-size: 20px;
    font-weight: bold;
    line-height: 32px;
}

h4 {
    color: #757575;
    font-size: 16px;
    font-weight: 300;
    line-height: 29px;
    letter-spacing: 0.5px;
}

#about,
#project,
#team,
#contact,
footer {
    background: #ffffff;
}

// Start Navbar
.navbar {
    background: #2525256e;
    .navbar-brand {
        font-weight: normal;
        font-size: 25px;
        color: #ffffff;
    }

    .navbar-nav {
        .nav-link {
            font-weight: normal;
            font-size: 14px;
            letter-spacing: 0.5px;
            padding: 0;
            text-transform: uppercase;
            transition: all 0.2s ease-in;
            color: #ffffff;

            &:hover {
                background: transparent;
                color: #ffffff !important;
            }

            &::after {
                content: '';
                display: block;
                height: 2px;
                width: 0;
                background: transparent;
                transition: width 0.3s ease, background-color 0.3s ease;
            }

            &:hover::after {
                width: 100%;
                background-color: #ffffff;
                color: #ffffff;
            }
        }
    }
}



// End Navbar
// Strat Home
#home {
    display: flex;
    align-items: center;
    height: 100vh;
    position: relative;

    video {
        position: fixed;
        top: 50%;
        left: 50%;
        min-height: 100%;
        min-width: 100%;
        height: auto;
        width: auto;
        transform: translate(-50%, -50%);
        background-size: cover;
        box-sizing: border-box;
        overflow: hidden;
        z-index: -9;
        transition: 1s opacity;
    }

    .bg-overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.75);
        z-index: -9;
    }

    h1 {
        color: #ffffff;
        font-size: 7vw;
        line-height: 1.2em;
    }

    p {
        color: rgba(250, 250, 250, 0.7);
    }

    .home-text {
        z-index: 9999;
    }

    .home-btn {
        @include btn;
    }
}

// End Home
// Start About
#about {
    position: relative;

    h3 {
        font-size: 14px;
        letter-spacing: 12px;
        text-transform: uppercase;
    }
}

// End About
// Start Project
#project {
    .project-item {
        position: relative;
        overflow: hidden;
        margin-bottom: 25px;
        padding: 0;
        vertical-align: middle;
        text-align: center;

        &:hover .project-overlay {
            opacity: 1;
        }

        img {
            transition: all 0.3s ease-in-out;
        }

        &:hover img {
            transform: scale(1.1);
        }

        .project-overlay {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background: rgba(0, 0, 0, 0.5);
            opacity: 0;
            transition: all 0.3s ease-in-out;

            .project-info {
                padding: 12em 0;

                h1 {
                    color: #ffffff;
                    margin: 0;
                }

                h3 {
                    color: #d9d9d9;
                    margin-top: 0;
                    font-size: 14px;
                    letter-spacing: 0.2px;
                }
            }

        }
    }
}

// End Project

// Start Team
.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text {
    text-align: center;

    h3 {
        font-weight: 200;

        span {
            font-weight: 500;
        }
    }
}

// End Team

// Start Contact
#contact {
    padding: 100px 0px;
    background: url('../images/contact-bg.jpg');
    padding: 50% 0%;
    background-repeat: repeat-y;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;

    .form-control {
        border: none;
        box-shadow: none;
        font-size: 18px;
        font-weight: normal;
        margin-bottom: 22px;

        &:focus {
            border-color: #d9d9d9;
        }
    }

    input {
        height: 55px;
        line-height: 45px;
    }

    .home-btn {
        @include btn;
    }
}

// End Contact